body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  padding: 20px;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 8px 12px;
  font-size: 16px;
}

button {
  padding: 8px 15px;
  font-size: 16px;
  background: #4e75ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}

.hidden {
  display: none;
}

#loader {
  font-size: 20px;
  color: #2e2f42;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  border: 1px solid black;
  border-radius: 2px;
  overflow: hidden;
  background: #fff;
  transition: transform 0.2s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.03);
}

.gallery-item img {
  width: 100%;
  display: block;
  height: 300px;
}

.info {
  padding: 10px;
  font-size: 18px;
  color: #333;
  display: flex;
  justify-content: space-around;
  height: 50px;
}
p {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0;
}
